In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('finance_data.csv')

In [3]:
df

,Date,Close_AAPL,High_AAPL,Low_AAPL,Open_AAPL,Volume_AAPL,Firm_AAPL,ToGrade_AAPL,FromGrade_AAPL,Action_AAPL,...,Action_IBM,Close_QCOM,High_QCOM,Low_QCOM,Open_QCOM,Volume_QCOM,Firm_QCOM,ToGrade_QCOM,FromGrade_QCOM,Action_QCOM
0,2025-03-31,222.130005,225.619995,216.229996,217.009995,65299300,NaN,NaN,NaN,NaN,...,main,153.610001,153.850006,147.880005,150.809998,8613600,NaN,NaN,NaN,NaN
1,2025-04-01,223.190002,223.679993,218.899994,219.809998,36412700,NaN,NaN,NaN,NaN,...,NaN,153.050003,153.320007,150.259995,152.389999,5708900,NaN,NaN,NaN,NaN
2,2025-04-02,223.889999,225.190002,221.020004,221.320007,35905900,NaN,NaN,NaN,NaN,...,NaN,154.080002,155.460007,150.369995,150.789993,5377200,NaN,NaN,NaN,NaN
3,2025-04-03,203.190002,207.490005,201.250000,205.539993,103419000,B of A Securities,Buy,Buy,main,...,NaN,139.419998,147.399994,138.559998,147.000000,16465000,NaN,NaN,NaN,NaN
4,2025-04-04,188.380005,199.880005,187.339996,193.889999,125910900,Needham,Buy,Buy,reit,...,NaN,127.459999,135.860001,126.680000,134.339996,19018600,NaN,NaN,NaN,NaN
5,2025-04-07,181.460007,194.149994,174.619995,177.199997,160466300,Wedbush,Outperform,Outperform,main,...,NaN,129.720001,137.199997,120.800003,124.589996,17938300,NaN,NaN,NaN,NaN
6,2025-04-08,172.419998,190.339996,169.210007,186.699997,120859500,Keybanc,Underweight,Underweight,main,...,NaN,124.660004,135.289993,121.739998,131.130005,14965900,NaN,NaN,NaN,NaN
7,2025-04-09,198.850006,200.610001,171.889999,171.949997,184395900,Jefferies,Hold,Underperform,up,...,NaN,143.589996,144.860001,124.190002,125.160004,21242600,TD Cowen,Buy,Buy,main
8,2025-04-10,190.419998,194.779999,183.000000,189.070007,121880000,NaN,NaN,NaN,NaN,...,NaN,134.399994,139.059998,129.289993,137.009995,14898800,NaN,NaN,NaN,NaN
9,2025-04-11,198.149994,199.539993,186.059998,186.100006,87300000,NaN,NaN,NaN,NaN,...,NaN,139.250000,140.649994,131.110001,134.000000,10947700,Citigroup,Neutral,Neutral,main

In [4]:
target_cols = [col for col in df.columns if 'Close' in col]

In [5]:
target_cols

['Close_AAPL',
 'Close_MSFT',
 'Close_GOOGL',
 'Close_AMZN',
 'Close_META',
 'Close_NVDA',
 'Close_TSLA',
 'Close_ADBE',
 'Close_CRM',
 'Close_ORCL',
 'Close_INTC',
 'Close_CSCO',
 'Close_AMD',
 'Close_IBM',
 'Close_QCOM']