In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
import datetime as dt
import matplotlib.pyplot as plt
import plotly.express as px

In [25]:
training_df = pd.read_csv('final_dataset.csv')
pred = pd.read_csv('predicted_closes.csv')

In [26]:
training_df

,Date,Close_AAPL,High_AAPL,Low_AAPL,Open_AAPL,Volume_AAPL,Close_MSFT,High_MSFT,Low_MSFT,Open_MSFT,...,AAPL_Rating_Change,AVGO_Rating_Change,CRM_Rating_Change,CSCO_Rating_Change,IBM_Rating_Change,MSFT_Rating_Change,NOW_Rating_Change,NVDA_Rating_Change,ORCL_Rating_Change,PLTR_Rating_Change
0,2023-04-24,163.679352,163.946660,162.253726,163.352645,41949600,277.358734,280.488972,274.356495,277.673732,...,1,1,1,1,1,1,1,1,1,1
1,2023-04-25,162.134933,164.649568,162.095324,163.540754,48714100,271.108154,277.191396,271.058919,275.134119,...,1,1,1,1,1,0,1,1,1,1
2,2023-04-26,162.125000,163.629828,161.174593,161.431992,45498800,290.745819,294.880078,288.147165,292.055014,...,1,1,1,1,1,1,1,1,1,1
3,2023-04-27,166.728592,166.877088,163.540739,163.540739,64902300,300.057709,300.421941,290.627702,291.336431,...,0,1,1,1,1,1,1,1,1,1
4,2023-04-28,167.985916,168.154232,166.203899,166.807810,55209200,302.449707,304.093546,298.561534,299.250587,...,0,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,2025-04-15,202.139999,203.509995,199.800003,201.860001,51343900,385.730011,391.890015,384.160004,388.510010,...,1,1,1,1,1,0,0,1,0,1
497,2025-04-16,194.270004,200.699997,192.369995,198.360001,59732400,371.609985,381.609985,368.000000,380.670013,...,1,0,0,1,1,0,0,0,0,0
498,2025-04-17,196.979996,198.830002,194.419998,197.199997,51334300,367.779999,374.320007,366.890015,373.750000,...,1,1,1,0,1,1,1,0,1,1
499,2025-04-21,193.160004,193.800003,189.809998,193.270004,46742500,359.119995,364.480011,355.670013,362.820007,...,1,1,1,1,1,0,0,1,1,1
500,2025-04-22,199.740005,201.589996,195.970001,196.119995,52976400,366.820007,367.769989,359.859985,363.380005,...,1,0,0,0,1,1,0,0,1,1

In [27]:
pred

  Stock  Predicted_Close
0  AAPL       196.491458
1  AVGO       166.716613
2   CRM       237.810313
3  CSCO        55.153815
4   IBM       238.841816
5  MSFT       364.194600
6   NOW       762.108975
7  NVDA        98.536683
8  ORCL       124.279114
9  PLTR        93.434661

In [38]:
pred_date = pd.to_datetime(training_df['Date'].max())+ dt.timedelta(days=2)

In [39]:
pred_date

Timestamp('2025-04-24 00:00:00')

In [31]:
from Features.feature_engg import get_unique_stocks
ticker_list = get_unique_stocks()

In [44]:
actual_data = yf.download(tickers=ticker_list,start=pred_date-dt.timedelta(days=10), end=dt.date.today(), period='1d')

[*********************100%***********************]  10 of 10 completed

In [45]:
actual_data

Price            Close                                                 \
Ticker            AAPL        AVGO         CRM       CSCO         IBM
Date
2025-04-14  202.520004  178.360001  254.550003  57.410000  239.059998
2025-04-15  202.139999  178.949997  254.929993  57.200001  240.699997
2025-04-16  194.270004  174.610001  249.839996  55.759998  238.570007
2025-04-17  196.979996  170.990005  247.259995  55.759998  238.809998
2025-04-21  193.160004  166.210007  236.259995  54.369999  236.220001
2025-04-22  199.740005  169.580002  243.389999  55.040001  240.899994
2025-04-23  204.600006  176.910004  250.479996  55.630001  245.479996
2025-04-24  208.369995  188.149994  264.700012  56.290001  229.330002
2025-04-25  209.279999  192.309998  267.850006  56.709999  232.410004
2025-04-28  210.139999  192.470001  265.640015  56.840000  236.160004
2025-04-29  211.701202  192.639999  268.000000  57.439999  239.774994

Price                                                                   ...  \
Ticker            MSFT         NOW        NVDA        ORCL        PLTR  ...
Date                                                                    ...
2025-04-14  387.809998  799.820007  110.709999  134.639999   92.620003  ...
2025-04-15  385.730011  816.500000  112.199997  133.940002   98.400002  ...
2025-04-16  371.609985  796.659973  104.489998  129.759995   92.709999  ...
2025-04-17  367.779999  772.159973  101.489998  128.619995   93.779999  ...
2025-04-21  359.119995  755.989990   96.910004  122.820000   90.800003  ...
2025-04-22  366.820007  766.830017   98.889999  127.239998   93.989998  ...
2025-04-23  374.390015  812.700012  102.709999  131.399994  100.820000  ...
2025-04-24  387.299988  938.570007  106.430000  137.509995  107.779999  ...
2025-04-25  391.850006  945.260010  111.010002  138.490005  112.779999  ...
2025-04-28  391.160004  937.409973  108.730003  140.139999  114.650002  ...
2025-04-29  393.800110  940.715027  109.824997  140.889999  115.599998  ...

Price          Volume                                                   \
Ticker           AAPL      AVGO      CRM      CSCO       IBM      MSFT
Date
2025-04-14  101352900  25748300  6038100  15657700   3321500  19251200
2025-04-15   51343900  17242400  5227700  18543600   3363700  17199900
2025-04-16   59732400  34638600  7190900  20551300   4869900  21967800
2025-04-17   51334300  22501800  5564400  15874300   4626900  20943700
2025-04-21   46742500  23469800  9240000  15578800   4908900  20807300
2025-04-22   52976400  18504900  7145300  19961800   4232700  19485000
2025-04-23   52929200  24380500  5818900  30231500   7948300  20545500
2025-04-24   47311000  27576900  7857600  22782300  15428100  22232300
2025-04-25   38222300  21242300  5651700  16493500   6700100  18973200
2025-04-28   38652400  16362900  4968800  23101700   3646700  16536000
2025-04-29   19137282   5713257  1847824   4864145   1935056   6482696

Price
Ticker          NOW       NVDA      ORCL       PLTR
Date
2025-04-14  1717000  264705000   8217700  122836900
2025-04-15  1735200  228966900   8630000  118457700
2025-04-16  1869500  397016900   8295200  121997600
2025-04-17  1803900  290833400   8919500   83991800
2025-04-21  1668700  288501100  12201200   83831100
2025-04-22  1582800  241004800  11233700   91185400
2025-04-23  3019200  247526000   9528900  112909500
2025-04-24  6083100  220815000   7305900  103190700
2025-04-25  2887800  251064700   5476400  103933800
2025-04-28  2049200  207051900   6970400  110664900
2025-04-29   667456  102127146   2056435   58104988

[11 rows x 50 columns]

In [ ]:
finak_df = pd.read_csv('final_dataset.csv')